<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <!--
    To change this license header, choose License Headers in Project Properties.
    To change this template file, choose Tools | Templates
    and open the template in the editor.
    -->

    <head>
        <title>Filer</title>
        <link href="css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Code Finder</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#random">random</a></li>
                       
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="../navbar/">Random</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>

        <div class="container" style="padding-top:300px">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">

                    <input type="text" id="path-name" class="form-control" placeholder="TESTING..." /> 

                </div>
            </div>
        </div>

        <div style= "padding-top:10px;"  class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <form style= "text-align:center;" class="form-horizontal" id="searchSource">
                        <div class="form-group">
                            <label for="search"></label>
                            <textarea class="form-control" rows="1" placeholder="Code to Search...." id="search"></textarea>
                        </div>
                        <div class="form-group"><input type="submit" class="btn btn-primary" id="create-search" value="Search Me" />
                        </div>
                    </form>     
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                  <!--<div class="col-md-4 col-md-offset-4">-->
                <div id="table"></div>
            <!--</div>-->
        </div>
        </div>


    </body>


    <script src="js/jquery.js" th:src="@{js/jquery-3.0.0.min.js}"></script>
    <script src="js/bootstrap.min.js" th:src="@{js/bootstrap.min.js}"></script>
    <script src="${pageContext.request.contextPath}/js/app.js" th:src="@{js/app.js}">
    </script>
    <script th:inline="javascript">
        var contextRoot = /*[[@{/}]]*/ '';
    </script>
</html>
